h1 {
  color: #191970;
  font-size: 50px;
  background-color: #E0FFFF;
  margin-right: 700px;
}

p {
  color: #E0FFFF;
  background-color: #191970;
  margin-right: 530px;
  margin-left: 10px;
}

nav {
  color: #191970;
}
